name: product_manager
description: A new Flutter project.

# Prevent accidental publishing to pub.dev.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  dartz: ^0.10.1

  dio: ^4.0.6

  equatable: ^2.0.3

  flutter_bloc: ^8.0.1

  get_it: ^7.2.0

  intl: ^0.17.0

  rxdart: ^0.27.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  bloc_test: ^9.0.3

  build_runner:

  flutter_lints: ^2.0.0

  http_mock_adapter: ^0.3.3

  mockito: ^5.1.0

flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    # Add assets from the images directory to the application.
    - assets/images/
